// @import '~bootstrap/scss/bootstrap';
@import 'general';

@import 'pages/home';
+
header {

}

nav {

}

section {

}

article {

}

aside {

}

footer {
	background-color: rgba(200,200,200,0.5);
	width: 100%;
	border: gray solid 1px;

}

